.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
*.iml
*.log
.idea/
.vscode/
.DS_Store
